<p id="notice"><%= notice %></p>

<h1>New Author</h1>

<section class="t-width">
    <%= render 'form', author: @author %>
    <%= link_to 'Back', authors_path, :class => 'btn btn-outline-dark btn-block mt-2' %>
</section>
