<h1>Editing Book</h1>

<section class="t-width">
    <%= render 'form', book: @book %>
    
    <%= link_to 'Show', @book, :class => 'btn btn-outline-dark btn-block mt-2' %>
    <%= link_to 'Back', books_path, :class => 'btn btn-outline-dark btn-block' %>
</section>
